<?xml version="1.0" encoding="utf-8"?>

<!-- Ligne de commentaire (comme en HTML) -->


<!-- Un fichier XML dans OpenERP commence toujours par ces deux lignes -->
<openerp>
  <data>

    <!-- Création d'un nouveau menu général avec comme sequence '1' pour qu'il soit tout à gauche -->
    <menuitem id="menu_infosaone_crm"                    sequence="1"  name="CRM"/>

      <!-- Création du sous-menu vente -->
      <menuitem id="menu_infosaone_crm_vente"            sequence="10" name="Ventes"             parent="menu_infosaone_crm"/>

        <!-- Ajout de 2 menus du module CRM au sous-menu précédent -->
        <menuitem id="menu_infosaone_crm_pistes"         sequence="10" name="Pistes (Prospects)" parent="menu_infosaone_crm_vente"    action="crm.crm_case_category_act_leads_all" />      
        <menuitem id="menu_infosaone_crm_opportunities"  sequence="20" name="Opportunités"       parent="menu_infosaone_crm_vente"    action="crm.crm_case_category_act_oppor11" />       


<!-- Un fichier XML dans OpenERP se termine toujours par ces deux lignes -->
  </data>
</openerp>

